/* Document Type: CSS StyleSheet*/
div.jumbotron{
    margin-top: 1%;
    box-shadow: 2px 1px 2px black;
}

.boton_menu_1{
    font-size: 1.5em;
    margin-top: 5px;
    width: 100%;
    height: 50px;
    box-shadow: 1px 1px 2px black;
}

.label_cedula{
    font-size: 1.4em;
    text-align: center;
}

.input_cedula{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

.input_empresa{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}


.boton_menu_2{
    font-size: 1.3em;
    margin-left: 15%;
    width: 70%;
    box-shadow: 1px 1px 2px black;
}

.input_lts{
    margin-left: 25%;
    width: 50%;
    text-align: center;
    font-size: 2em;
}

.label_lts{
    font-size: 1.4em;
    text-align: center;
}

.input_usr{
    box-shadow: 1px 1px 2px rgb(136, 128, 128);
}

.table{
    color: rgb(38, 38, 88);
    margin-top: 1%;
    font-size: 0.85em;
}

.card{
    margin-top: 0px;
    margin-bottom: 1%;
    margin-left: 3%;
    margin-right: 3%;
    border: white;
}

nav.navbar{
    color:white;
    background-color:#563D7C;
    box-shadow: 1px 2px 6px black;  
    background-position: center center;
    background: radial-gradient(ellipse, rgb(122, 176, 221), rgb(17, 82, 156));
}

.page-footer{
    color:white;
    background-color: rgb(17, 82, 156); 
    background-position: left left;
    background: radial-gradient(left, rgb(122, 176, 221), rgb(17, 82, 156)); 
}

.fondo-blur{
    position: relative;
    overflow: hidden;

    background-color: rgba(76, 59, 170, 0.911);
  }
  
  .fondo-blur::before{
    content: '';
    display: block;
    background: inherit;
    position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0;
    filter: blur(15px);
    transform: scale(1.2,1.4);
  }

  h1{
      margin-bottom: 0px;
      text-align: center;
      font-size: 1.2em;
      font-weight: bold;
  }